%button {
  // @include button(simple, $base-accent-color);
  -webkit-font-smoothing: antialiased;

  display: inline-block;
  padding: 0.5em 1.5em 0.5em;
  background-color: $light-gray;
  border: 1px solid #999;  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  border-radius: 2px;

  font-size: $base-font-size;
  line-height: 1em;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  text-decoration: none;
}
